<header>
    <h1>Most important heading here</h1>
    <h3>Less important heading here</h3>
    <p>Some additional information here.</p>
    <p><a href="/">home</a></p>
    <p><a href="/about">about</a></p> 
    <p><a href="/projects">projects</a></p> 
    <p><a href="/Procs">procs</a></p>
</header>